/* Mobile first styles go here */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
   margin: 0; 
   min-height: 100%;
   position: relative;
}
body, input[text], button {
  color: rgb(40, 40, 40);
  font-family: Cambria, Georgia;
}
input, textarea, select, button {
  height: 2em;
  width: 80%;
  font-size: 1em;
  padding-left: .4em;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
 }
.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 80%;
}

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}


.col-1,
.col-1-3,
.col-2-3,
.col-1-4,
.col-1-2 {
  width: 100%;
  padding-top: 15px;
}

/*
.container {
  width: 80%;
  max-width: 90%;
}
*/

.wall {
  background-image: url("../images/maintenance-team.jpeg");
  width: 100%;
  height: 250px;
  background-size: 100% 200px;
  /* border: 1px solid red; */
  padding-top: 10px;
  z-index: -1;
  opacity: 0.88;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/**/
.main_title {
  font-family: 'Brandon', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 15px;
  text-shadow:  rgb(20, 49, 167);
  color: rgb(20, 49, 167);
  font-weight: bold;
  margin: 0;
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main_tagline {
  font-family: 'Brandon', sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 10px;
  text-shadow:  rgb(20, 49, 167);
  color: rgb(20, 49, 167);
  font-weight: bold;
  margin: 0;
  position: relative;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}
img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: rgb(57, 83, 150);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #4CAF50;
}
button.danger:hover
{
  border: 2px solid #CB3438;
  /**/
  background-color: #CB3438;
  color: #ffffff;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
/*
nav {
    width: 100%;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  
  background-color: #eee;
  border-radius: 4px;
  float: right;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

.item{
  float: left;
}
*/

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/**/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: rgb(99, 125, 193);;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(59, 91, 170);
  color: white;
  text-align: center;
  clear: both;
  position: absolute;
  z-index: 10;
  margin-top: -3em;
}
/* 
* Any styling that should be applied to screen widths larger
* than a mobile device: tablet, laptop, desktop, etc. 
*/

@media only screen and (min-width: 800px) {
  /* Desktop styles go here */
  .col-1 {
    width: 100%;
  }
  .col-1-2 {
    width: calc((100% / 2) - 5%);
  }
  .col-1-3 {
    width: calc(100% / 3);
  }
  .col-1-4 {
    width: calc(100% / 4);
  }
  .col-1-5 {
    width: calc(100% / 5);
  }
  .col-1-6 {
    width: calc(100% / 6);
  }
  .col-1-7 {
    width: calc(100% / 7);
  }
  .col-1-8 {
    width: calc(100% / 8);
  }
  .col-1-9 {
    width: calc(100% / 9);
  }
  .col-1-10 {
    width: calc(100% / 10);
  }
  .col-1-15 {
    width: calc(100% / 15);
  }
  .col-4-5 {
    width: calc(100% / 5 * 4);
  }
  .col-2-3 {
    width: calc(100% / 3 * 2);
  }
  .col-3-15 {
    width: calc(100% / 15 * 3);
  }
  .col {
    float: left;
    padding: 10px;
  }

  .wall {
    background-image: url("../images/maintenance-team.jpeg");
    width: 100%;
    height: 450px;
    background-size: 100% 200px;
    /* border: 1px solid red; */
    padding-top: 10px;
    z-index: -1;
    opacity: 0.88;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main_title
  {
    font-family: 'Brandon', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 35px;
    text-shadow:  rgb(20, 49, 167);
    color: rgb(20, 49, 167);
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .main_tagline
  {
    font-family: 'Brandon', sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 10px;
    text-shadow:  rgb(20, 49, 167);
    color: rgb(20, 49, 167);
    font-weight: bold;
    margin: 0;
    position: relative;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}


@media only screen and (min-width: 1200px) {
  .card_image
  {
    position: relative;
    float: left;
    width:  100%;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    overflow: hidden;
  }
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  text-align: left;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: rgb(99, 125, 193);;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: white;
}

.card {
  background: #fff;
  padding: 10px;
  /* border-top: 3px solid #rgb(99, 125, 193);; */
  border: 1px solid rgb(160, 160, 160);
  box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_content
{
  /**/
  padding-top: 15px;
}
.card_content a button
{
  border: 2px solid rgb(99, 125, 193);
  /**/
  background-color: rgb(99, 125, 193);
  color: #ffffff;
}
.card_content a button:hover
{
  border: 2px solid #4CAF50;
  /**/
  background-color: #4CAF50;
  color: #ffffff;
}
.card_content a button.danger:hover
{
  border: 2px solid #CB3438;
  /**/
  background-color: #CB3438;
  color: #ffffff;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #f4f4f4;
  background-color: #dddada;
  line-height: 28px;
}
tr.header {
  background-color: #afafaf;
}
tr:hover.header {
  border: 2px solid ;
  border-bottom-color: black;
  /**/
  background-color: #afafaf;
  color: black;
}
tr:hover {
  border: 2px solid rgb(91, 124, 209);
  /**/
  background-color: rgb(91, 124, 209);
  color: #ffffff;
}
.footer .row p a {
  color: rgb(242, 239, 239);
}
.footer .row p a:hover {
  border: 2px solid rgb(91, 124, 209);
  /**/
  font-weight: bold;
  background-color: rgb(91, 124, 209);
  color: #ffffff;
}
div i {
  display: inline-flex;
  vertical-align: middle;
}